@charset "utf-8";

body {font-family: 'Pretendard-Regular' , sans-serif; color: #595959;}

#wrap {max-width: 430px; background: #fffbef;}

/* header */
header {height: 70px; }
body {position: relative;}
header figure {width: 40%; height: 100%; background: url(../img/logo.png) no-repeat left/cover; background-size: 90%;}
.main-Detail .Detail-swiper {position: relative; width: 100%; height: 550px;}
.main-Detail .Detail-swiper .bg01 img {width: 100%; height: 100%; z-index: -1;}
.main-Detail .Detail-swiper .bg02 img {width: 100%; height: 100%;}

/* main-Detail > seiper 버튼 */
.swiper-button-next:after, .swiper-button-prev:after {position: absolute; top: -50px;  font-size: 15px; color: #444444;}

/* ---------------------logo */
header img {
    width: 100px;
    z-index: 9;
    margin: 50px 10px;
    cursor: pointer;
  }

/* ---------------------- btn-menu */
.btn-menu {
    position: absolute;
    top: -18px; right: 0;
    display: inline-block;
    height: 10px;
    margin: 83px 20px;
    transition: all 0.3s;
    z-index: 9;
  }
  .btn-menu .item {
    display: block;
    background: #222;
    width: 20px; height: 0.5px;
    margin: 0 0 5px;
    transition: all 0.2s;
  }
  .btn-menu.on .item:nth-child(1) {
    transform: rotate(42deg);
    transform-origin: 2px;
  }
  .btn-menu.on .item:nth-child(3) {
      transform: rotate(-42deg);
      transform-origin: 2px;
  }
  .btn-menu.on .item:nth-child(2) {opacity: 0;}
  
  
  /*  ------------------menu-list*/
  .menu-list { 
    width: 430px; height: 1000px;
    position: fixed;
    top: 0;
    margin-top: -44px;
    background: #fffbef;
    position: absolute;
    padding-top: 95px;
    display: none;
    z-index: 51;
  }
  .menu-list .top-menu { 
    padding: 10px 0 30px 20px;
  }
  .menu-list .top-menu li { 
    float: left;
    width: 55px;
  }
  .menu-list .top-menu a{
    display: block;
    font-size: 15px;
  }
  .menu-list .categorie {
    font-size: 15px;
  }
  .menu-list .categorie > li {
    padding: 0 0 10px 20px;
  } 
  .menu-list .categorie .sub-menu li {
    padding: 8px 0 0 30px;
  }
  .menu-list .categorie .sub-menu li a {
    display: block;
  }
  .menu-list select { 
    margin: 40px 0 0 9px;
    border: none;
    background: #fffbef;
    font-size: 9px;
    color: #7e7e7e94;
  }
  .menu-list select option {color: #000;}


.main-Detail {
    margin-top: 50px;
}
/* inner */
#Detail-Text {max-width: 430px; margin: 30px 40px;}
#Detail-Text ul {position: relative; font-size: 14px;}
#Detail-Text ul li {margin-bottom: 20px;}
#Detail-Text ul .title {font-family: 'Noto Serif KR',sans-serif;}
#Detail-Text ul .point01 {margin-bottom: 8px;}
#Detail-Text ul .point02 {display: inline-block; border-bottom: 1px solid #4444;}
#Detail-Text ul li span {font-size: 13px; color: #00000066; margin-bottom: 10px;}
#Detail-Text ul li span a {display: inline-block; margin-left: 8px; border-bottom: 1px solid #00000066;}

#Detail-Text .btn {position: absolute; right: -25%; top: -5%; width: 15%; height: 30px; margin: 20px 80px; border: none; background: #dfa178; color: #fff; border-radius: 15px;} 

/* 선택항목 보기 */
#addList {overflow: hidden; position: relative; padding: 30px 0; margin-bottom: 30px; font-size: 14px; border: 1px solid #ddd; border-width: 1px 0; display: none;}
#addList.active {display: block;}
#addList .titleArea {float: left; width: 60%}
#addList .prod_title {margin-bottom: 10px; font-family: 'Noto Serif KR',sans-serif; font-weight: 500; color: #595959;}
#addList .price_area {display: inline-block; padding: 0 0 10px 10px;}
#addList .inputNumArea {float: right; text-align: right; margin: 60px 30px 0 0;}
.inputNumArea button {width: 28px; height: 28px; border: none; background: #cdcdcd; color: inherit; font-size: 24px; line-height: 1; float: left;}
.inputNumArea #inputNum {float: left; width: 50px; height: 28px;  border: 1px solid #ccc; line-height: 28px; text-align: center; box-sizing: border-box; padding-left: 5px;}
.titleArea .optColor {margin-top: 5px; padding-left: 10px; font-size: 14px; font-weight: 500;}
.btnClose {position: absolute; top: 10px; right: 0; width: 40px; height: 30px; border: none; background: none;}
.btnClose img {width: 100%; height: 100%; background: #fff;}

/* 장바구니 등 버튼 */
#Detail-Text #Detail-Search {width: 100%; height: 40px; border: 1px solid rgba(0,0,0,0.1); padding: 10px; background: rgba(255,255,255,0.7);}
#Detail-Text #Now {width: 100%; height: 40px; background: #111; color: #fff; border: none; margin-bottom: 5px;}
#Detail-Text #Cart {width: 100%; height: 40px; background: #fff; border: 1px solid #9999; margin-bottom: 30px;}

/* Detail-Ep */
.Detail-Ep {font-size: 12px; height: 150px;}
.Detail-Ep .Ep-area {border-top: 1px solid #9999; padding: 10px 0;}
.Detail-Ep .Ep-area h3 {float: left; width: 50%; font-size: 12px; font-family: 'Noto Serif KR',sans-serif; font-weight: 500; }
.Detail-Ep .Ep-area button {float: right; width: 25px; height: 25px; border: none; background: none; cursor: pointer;}
.Detail-Ep .Ep-area button img {width: 1005; height: 100%;}
.Detail-Ep .Ep-text {width: 100%; height: 330px;  display: none;}
.Detail-Ep .Ep-text .big-text {margin-bottom: 5px;}
.Detail-Ep .Ep-text ul {margin-bottom: 20px;}
.Detail-Ep .Ep-text ul li {position: relative; line-height: 1.7; padding-left: 28px; }
.Detail-Ep .Ep-text ul li::after {position: absolute; top: 8px; left: 12px; content: ''; width: 4px; height: 4px; background: rgb(68, 68, 68); border-radius: 50%;}

/* 플러스 버튼 눌렀을때 .Detail-Ep .Ep-text 나오게하기 */
.Detail-Ep .Ep-text.on {display: block;}

/* Detail-item */
.Detail-item {margin-bottom: 50px;}
.Detail-item figure {width: 100vw;}
.Detail-item figure img {width: 100%;}

/* Detail-Look */
.Detail-Look {padding: 20px; font-size: 12px; }
.Detail-Look h3 {margin-bottom: 40px;}
.Detail-Look ul li {float: left; width: calc(100%/3 - 10px); margin-left: 10px;}

.Detail-Look ul li figure {height: 150px; margin-bottom: 20px;}
.Detail-Look ul li:nth-child(1) figure {background: url(../img/Detail03.jpg)no-repeat center/cover;}
.Detail-Look ul li:nth-child(2) figure {background: url(../img/Detail04.jpg)no-repeat center/cover;}

.Detail-Look ul li:nth-child(3) figure {background: url(../img/Detail05.jpg)no-repeat center/cover;}
.Detail-Look .Looktext {line-height: 1.8;}

/* topBtn */
.topBtn {text-align: center; font-size: 12px; padding: 100px;}
.topBtn .Toptext {display: inline-block;}
.topBtn figure {display: inline-block; width: 20px; height: 20px;}
.topBtn figure img {width: 100%; height: 100%;}




/* 모달박스 */
.modal_box {position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background: rgba(0,0,0,0.8); display: none; z-index: 5;}
.modal_box.on {display: flex;}
.addInfo {width: 300px; padding: 40px; text-align: center; background: #fffbef
    ;}
.addInfo .text {margin-top: 60px; display: inline-block; padding: 12px; border: 2px solid black; border-width: 2px 0;}
.addInfo .btn_area { margin-top: 30px;}
.addInfo .btn_area button {padding: 6px 12px; background: #c35c17; color: #fff; font-size: 14px; border: none;}


/* footer */
footer {width: 100%; background: #fff;}
footer > div {
    font-size: 13px; 
    margin-bottom: 20px;
    line-height: 1.7;
    padding: 20px;
}
footer > div:first-child{padding-top: 30px;}
footer .f-bold {color: rgba(0, 0, 0, 1);}

.copy {



    display:block ;
    font-weight: 600;
    font-size: 12px; 
    padding: 20px; 
    margin-bottom: 30px;
}


