@charset "utf-8";

/* 제목 */
/* Noto Serif Korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* Noto Serif Korean = font-family: 'Noto Serif KR', serif; */

/* 본문  */
/* 프리텐다드 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
/* 프리텐다드 = font-family: 'Pretendard-Regular' */

